
<%- include('partials/header') %>


<div class="centered">
  <div class="container">
    <h2>Images of <%= user %> </h2>

    <div>
        <% items.forEach(function(image) { %>
        <div>
            <div>
                <img src="data:image/<%=image.img.contentType%>;base64,
                     <%=image.img.data.toString('base64')%>">
                <div>
                    <h5>sent by<%= image.by %></h5>
  
                </div>
            </div>
        </div>
        <% }) %>
    </div>

    <hr>
  </div>
</div>



<%- include('partials/footer') %>
